.about {
    padding: 4rem 2rem;
    text-align: center;
    /* background-color: #fff; REMOVED - inherited from parent */
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
    /* White */
}

.description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #e5e7eb;
    /* Light Grey */
    max-width: 800px;
    margin: 0 auto;
}